<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Submit Review and Rating</title>
    <link rel="stylesheet" href="review.css" />
  </head>
  <body>
    <header>
      <h1>Submit Review and Rating</h1>
    </header>

    <main>
      <section class="review-form">
        <form id="reviewForm" onsubmit="onsubmit()">
          <div class="form-group">
            <label for="userName">Your Name:</label>
            <input type="text" id="userName" name="userName" required />
          </div>

          <br />
          <div class="form-group">
            <label for="userComment">Review:</label>
            <textarea
              id="userComment"
              name="userComment"
              rows="4"
              required
            ></textarea>
          </div>
          <button type="submit">Submit Review</button>
        </form>
      </section>
    </main>

    <footer>
      <p>&copy; 2023 Submit Review and Rating</p>
    </footer>
  </body>
</html>
